<html style= "height: 87%;" >
<body style="background-color: rgb(241,247,252);">
  <div>
    <div class="d-md-flex justify-content-md-center align-items-md-center intro"><a href=#><img class="d-md-flex justify-content-md-center align-items-md-center" style="background-image: url('assets/img/reachout.png');width: 130px;" src="assets/img/reachout.png"></a>
    </div>
</div>
    <div class="d-md-flex align-items-md-center login-clean" style="padding: 30px;" >
        <form style="height: 650px;max-width: 700px;">
            <div class="form-group">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><input class="form-control" type="text" style="width: 300;" placeholder="FirstName" name="first_name" required #First_Name></td>
                            </tr>
                            <tr>
                                <td style="width: 300;"><input class="form-control" type="text" placeholder="Last Name" name="last_name" required #Last_Name></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="text" placeholder="Address 1" name="address_1" required #Address_1></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="text" placeholder="Address 2" name="address_2" #Address_2></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="text" required="" placeholder="City" name="city" #city></td>
                            </tr>
                            <tr>
                              <td><input class="form-control" type="text" required="" placeholder="State" name="State" #state_name></td>
                          </tr>
                            <tr>
                                <td><input class="form-control" type="text" required="" inputmode="numeric" name="zip_code" placeholder="Zip Code" #zip_code></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-switch d-md-flex flex-fill justify-content-md-center"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label" for="formCheck-2">Stay Active/Inactive</label></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  <div class="form-row text-center">
                      <div class="col offset-md-1"><button class="btn btn-primary btn-block" type="submit" style="width: 200px;" (click)="getHTMLAttributeValue()">Submit</button></div>
                      <div class="col"><button class="btn btn-primary btn-block" type="button" style="width: 200px;" (click)="getCancel()">Cancel</button></div>
                  </div>
            </div>
        </form>
    </div>
</body>
</html>
<amplify-sign-out></amplify-sign-out>
