<html style= "height: 80%;" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Reachout</title>
</head>

<body style="background-color: rgb(241,247,252);">
    <div class="container">
        <div class="d-md-flex justify-content-md-center align-items-md-center intro"><a href=#><img class="d-md-flex justify-content-md-center align-items-md-center" style="background-image: url('assets/img/reachout.png');width: 130px;" src="assets/img/reachout.png"></a>
        </div>
    </div>
    <div class="d-md-flex align-items-md-center login-clean" style="padding: 30px;">
      <form style="width: 900px;max-width: 900px;padding: 20px;">
          <div class="container">
              <div class="form-row">
                  <div class="col"><img src="assets/img/arrow_icon.png" style="width: 35px;" /><span class="text-center" style="font-size: 25px;">&nbsp;&nbsp;Accepted Requests</span></div>
              </div>
              <div class="table-responsive table-borderless" style="width: 850px;">
                  <table class="table table-bordered">
                    <tr><th>Action</th><th>Request</th><th>Address</th><th></th></tr>
                    <tr *ngFor="let helper of acceptHelper">
                    <td><a href=''>Mark Complete</a></td>
                    <td>{{helper.RequestType}} </td>
                    <td><img src="assets/img/list_icon.png" />{{helper.Address1}} {{helper.Address2}} {{helper.City}} {{helper.Country}} {{helper.Zipcode}}</td>
                    </tr>
                  </table>
              </div>
          </div>
          <div class="container">
            <div class="form-row">
                <div class="col"><img src="assets/img/arrow_icon.png" style="width: 35px;" /><span class="text-center" style="font-size: 25px;">&nbsp;&nbsp;Open Requests</span></div>
            </div>
            <div class="table-responsive table-borderless" style="width: 850px;">
                <table class="table table-bordered">
                  <tr><th>Action</th><th>Request</th><th>Address</th><th></th></tr>
                  <tr *ngFor="let helper of openHelper">
                  <td><a href=''>Accept Request</a></td>
                  <td>{{helper.RequestType}} </td>
                  <td><img src="assets/img/list_icon.png" />{{helper.Address1}} {{helper.Address2}} {{helper.City}} {{helper.Country}} {{helper.Zipcode}}</td>
                  </tr>
                </table>
            </div>
        </div>
        <div class="container">
          <div class="form-row">
              <div class="col"><img src="assets/img/arrow_icon.png" style="width: 35px;" /><span class="text-center" style="font-size: 25px;">&nbsp;&nbsp;Completed Requests</span></div>
          </div>
          <div class="table-responsive table-borderless" style="width: 850px;">
              <table class="table table-bordered">
                <tr><th>Request</th><th>Address</th></tr>
                <tr *ngFor="let helper of closedHelper">
                <td>{{helper.RequestType}} </td>
                <td><img src="assets/img/list_icon.png" />{{helper.Address1}} {{helper.Address2}} {{helper.City}} {{helper.Country}} {{helper.Zipcode}}</td>
                </tr>
              </table>
          </div>
      </div>
      </form>
    </div>
    <amplify-sign-out></amplify-sign-out>
</body>
</html>
