<div style="text-align:center"><h1>We are here to help!</h1></div>
<div style="text-align:center">
<amplify-authenticator usernameAlias="email">
      <amplify-sign-up
        slot="sign-up"
        usernameAlias="email"
        [formFields]="formFields"
      >
      <amplify-radio-button>
            <span class="radio-button">
              <input placeholder="" type="radio">
              <amplify-label></amplify-label>
            </span>
          </amplify-radio-button>

</amplify-sign-up>
      <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
    </amplify-authenticator>
  </div>
  <hr><router-outlet></router-outlet>
