<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Reachout</title>
</head>

<body>
    <div class="login-clean" style="width: 880;min-width: 800;max-width: 1000;height: 1000px;">
        <form style="height: 900px;width: 880;max-width: 700px;">
            <div class="container d-md-flex justify-content-md-center"><img class="d-md-flex justify-content-md-center" style="background-image: url('assets/img/reachout.png');width: 150px;" src="assets/img/reachout.png"></div>
            <div class="form-group">
                <div class="container">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><select class="form-control" required="" name="services"><option value="12" selected="">Pharmacy</option><option value="13">Grocery</option><option value="14">Food</option></select></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" style="width: 300;" required="" placeholder="Business Name" name="first_name"></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required="" placeholder="Business Address1" name="address_1"></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" placeholder="Business Address 2" name="address_2"></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required="" placeholder="Business City" name="city"></td>
                                </tr>
                                <tr>
                                    <td><select class="form-control" required="" name="state"><option value="12">New York</option><option value="13">New Jersey</option><option value="14">South Carolina</option></select></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required="" inputmode="numeric" name="zip_code" placeholder="Zip Code"></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="tel" required="" inputmode="tel" placeholder="Business Phone" name="mobile"></td>
                                </tr>
                                <tr>
                                    <td style="background-color: rgb(228,239,249);"><textarea class="form-control" placeholder="Comments"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row text-center">
                    <div class="col offset-md-1 order-sm-6"><button class="btn btn-primary btn-block float-right" type="submit" style="width: 200px;" (click)="renderSeeker()">Submit</button></div>
                    <div class="col order-sm-6"><button class="btn btn-primary btn-block float-left" type="button" style="width: 200px;" (click)="renderSeeker()">Cancel</button></div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
