<html style= "height: 90%;">
<body>
  <div class="container">
    <div class="d-md-flex justify-content-md-center align-items-md-center intro"><a href=#><img class="d-md-flex justify-content-md-center align-items-md-center" style="background-image: url('assets/img/reachout.png');width: 130px;" src="assets/img/reachout.png"></a>
    </div>
</div>
    <div class="d-md-flex align-items-md-center login-clean" style="padding: 30px;"> <!--height: 900px;-->
        <form style="height: 750px; max-width: 800px; padding: 20px;" >
            <div class="form-group">
                <div class="container">
                    <div class="table-responsive table-borderless">
                        <table class="table table-bordered">
                            <tbody>
                                <tr><td><select class="form-control" required #RequestType name="RequestType">
                                  <option *ngFor="let iService of getService">{{iService.Service_Name}}</option></select></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" style="width: 300;" required="" placeholder="Name" #BusinessName name="BusinessName"/></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required placeholder="Business Address1" #Address1 name="Address1" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" placeholder="Business Address 2" #Address2 name="Address2" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required placeholder="Business City" #City name="City" /></td>
                                </tr>
                                <tr>
                                    <td><select class="form-control" required #Country name="Country">
                                      <option *ngFor="let iCountry of getCountry">{{iCountry.Country_Name}}</option></select></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="text" required #Zipcode placeholder="Zip Code" name="Zipcode" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" type="tel" required inputmode="tel" placeholder="Business Phone" #Phone name="Phone" /></td>
                                </tr>
                                <tr>
                                    <td style="background-color: rgb(228,239,249);"><textarea class="form-control" placeholder="Comments" #Description name="Description" ></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row text-center">
                    <div class="col offset-md-1 order-sm-6"><button class="btn btn-primary btn-block float-right" type="submit" style="width: 200px;" (click)="getHTMLAttributeValue()">Submit</button></div>
                    <div class="col offset-md-1 order-sm-6"><button class="btn btn-primary btn-block float-left" type="button" style="width: 200px;" (click)="renderSeeker()">Cancel</button></div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
<amplify-sign-out></amplify-sign-out>
